<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><p th:text="#{welcome}"></p>Welcome to our site!</title>     
    </head>
    <body>    
        <p>Today is: <span th:text="#{today}">13 february 2011</span></p>
        
        <p>Pincha <a th:href="@{/siniestro}">aquí</a> para entrar en el almacén.</p>
 	
 		                       
    </body>
</html>

